In [1]:
import pandas as pd

In [28]:
from sklearn.preprocessing import LabelEncoder

In [16]:
train_df = pd.read_csv('train.csv')
test_df = pd.read_csv('test.csv')

In [18]:
train_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [19]:
train_df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [20]:
X = train_df
y = train_df['Survived']

In [22]:
train_df.drop(['Survived', 'Name', 'Ticket'], axis=1)

     PassengerId  Pclass     Sex   Age  SibSp  Parch     Fare Cabin Embarked
0              1       3    male  22.0      1      0   7.2500   NaN        S
1              2       1  female  38.0      1      0  71.2833   C85        C
2              3       3  female  26.0      0      0   7.9250   NaN        S
3              4       1  female  35.0      1      0  53.1000  C123        S
4              5       3    male  35.0      0      0   8.0500   NaN        S
..           ...     ...     ...   ...    ...    ...      ...   ...      ...
886          887       2    male  27.0      0      0  13.0000   NaN        S
887          888       1  female  19.0      0      0  30.0000   B42        S
888          889       3  female   NaN      1      2  23.4500   NaN        S
889          890       1    male  26.0      0      0  30.0000  C148        C
890          891       3    male  32.0      0      0   7.7500   NaN        Q

[891 rows x 9 columns]

In [23]:
train_df.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [25]:
categorical_data = train_df.select_dtypes(include=['object'])
numerical_data = train_df.select_dtypes(exclude=['object'])

In [ ]:
encoder = LabelEncoder()
encoded = encoder.fit_transform(categorical_data)

In [32]:
categorical_data.apply(encoder.fit_transform(categorical_data))

ValueError: y should be a 1d array, got an array of shape (891, 5) instead.